{
  "gr_module_config":{
      "root_path":"python/LLM4REC/game_rpk_mtgr_v1",
      "common_hp":{
          "data_loader_conf":{
            "dataset_name": "Game",
            "prefetch_factor": 4,
            "num_workers": 8,
            "history_length": 150,
            "num_rerank": 150,
            "train_data_path": "parquet_data_20/train",
            "valid_data_path": "parquet_data_20/valid",
            "use_dynamic_padding": true,
            "padding_bucket_size": -1,
            "padding_bucket_table": [1, 2, 4, 8, 16, 24, 32, 48, 64, 96, 128, 160, 192, 256, 384, 512],
            "padding_side_origin": "right",
            "padding_side": "right"
          },
          "seed_conf": {
            "global_seed": 3407
          },
          "model_conf": {
            "val_spl_recov": false,
            "linear_weigh": 1,
            "item_embedding_dim": 256,
            "max_sequence_length": 800,
            "gr_output_length": 0,
            "output_embedding_dim": 1,
            "num_ratings": 5,
            "linear_dropout_rate": 0.2,
            "attn_dropout_rate": 0.0,
            "user_embedding_norm": "l2_norm",
            "use_fbgemm": true,
            "rab_aggregate_method": "sum",
            "linear_activation": "silu",
            "normalization": "rel_bias",
            "linear_config": "uvqk",
            "use_action_emb": true,
            "use_user_embeddings_for_rerank": true,
            "profile_time": false,

            "use_hstu": true,
            "use_gluffn": true,
            "use_emb_rmsnorm": true,
            "amp_dtype": "fp16",
            "debug_sanitize": null,
            "use_enhanced_interest_embeddings": false,
            "use_dlrm": false,
            "use_baseline_dcn": false,
            "use_baseline_ppnet": true,
            "target_features": ["domain_type1"],

            "gauc_querys": [{"ctype": [2]},
                            {"ctype": [0]}],
            "truncate_timestamps_feature": true,
            "oper_date_truncate_times": 1000000,
            "oper_time_truncate_times": 1000
          },
          "export_conf": {
            "last_k": 1,
            "export_batch_size": 1,
            "export_num_batch": 1,
            "save_dir_name": "modelfile",
            "num_rerank": 300,
            "need_export_csv": false,
            "compute_auc_on_export": false,
            "export_mode": "fake"
          },
          "train_conf": {
            "phase": "train",
            "load_ano_sim": true,
            "load_ano_hstu": false,
            "load_ano_hstu_path": "/opt/huawei/dataset/data_dir/baseline_20250906/model/sim-v4-test1/modelfile/model_hstu_0.pth",
            "load_sim_embedding": false,
            "frozen_embedding": false,
            "jump_eval_during_train": false,
            "add_pos_emb": false,
            "add_rope_emb": false,
            "add_fixed_pos_emb": false,
            "add_fixed_time_aware_pos_emb": false,
            "_use_pos_emb": true,
            "_pos_aligned_side": "right",
            "is_output_loss_csv_file": false,
            "lr_scaling": "Linear",
            "beta": [ 0.9, 0.98 ],
            "learning_rate": 0.00001,
            "optimizer_type": "AdamW",
            "weight_decay": 0.000001,
            "local_batch_size": 512,
            "eval_batch_size": 512,
            "dropout_rate": 0.2,
            "eval_interval": 100,
            "num_epochs": 1,
            "num_warmup_steps": 100,
            "lr_schedule_type": "constant",
            "total_training_steps": 0,
            "sampling_strategy": "local",
            "temperature": 0.05,
            "use_item_l2_norm": true,
            "use_tf32": true,
            "full_eval_every_n": 1,
            "batch_limit": 1000,
            "eval_ng_ratio": 1,
            "use_amp": false,
            "loss_scale": 65536,
            "dynamic_loss_scale": true,
            "use_profiler": false,
            "profiler_output_dir": "./profiler_result",
            "profiler_record_shapes": false,
            "profiler_profile_memory": false
          },
          "feature_conf": {
            "save_result_to_local": false,
            "cut_off_bias": 0,
            "cut_off_time": 0,
            "time_desc": true,
            "chronological": true,
            "get_count_from_featuremap": true,

            "candidate_items_key": "app_id",
            "history_items_key": "app_id_list",

            "candidate_timestamps_column": "oper_time",
            "history_timestamps_column": "action_timestamp_list",

            "candidate_date_column": "oper_date",
            "history_date_column": "oper_date_list",

            "candidate_ratings_column": "label",
            "history_ratings_column": "action_type_list",

            "action_types": ["history"],
            "save_score_csv_item_cols": {"ctype": ""},

            "padding_index": 0,
            "padding_length_pref": 0,
            "fuse_ia": true,

            # MixFormer 专用配置: n_u (user heads) 和 n_c (candidate heads)
            "n_u": 1,
            "n_c": 3,

            "candidate_item_feature_columns": {
                "app_id": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "app_id"},
                "app_size": {"dim": 64, "feature_count": 60, "enabled": true, "dtype": "int", "shared_feat_name": "app_size"},
                "first_grade": {"dim": 64, "feature_count": 60, "enabled": true, "dtype": "int", "shared_feat_name": "first_grade"},
                "dev_up_id": {"dim": 64, "feature_count": 25, "enabled": true, "dtype": "int", "shared_feat_name": "dev_up_id"},
                "app_second_type": {"dim": 64, "feature_count": 11, "enabled": true, "dtype": "int", "shared_feat_name": "app_second_type"},
                "app_third_type": {"dim": 64, "feature_count": 3, "enabled": true, "dtype": "int", "shared_feat_name": "app_third_type"},
                "game_type_cd": {"dim": 64, "feature_count": 60, "enabled": true, "dtype": "int", "shared_feat_name": "game_type_cd"},
                "first_time_days": {"dim": 64, "feature_count": 60, "enabled": true, "dtype": "int", "shared_feat_name": "first_time_days"},
                "game_type": {"dim": 64, "feature_count": 60, "enabled": true, "dtype": "int", "shared_feat_name": "game_type"},
                "ctype": {"dim": 64, "feature_count": 60, "enabled": true, "dtype": "int", "shared_feat_name": "ctype"},
                "list_id": {"dim": 64, "feature_count": 60, "enabled": true, "dtype": "int", "shared_feat_name": "list_id"},
                "is_down_target_item_flag": {"dim": 64, "feature_count": 2, "enabled": true, "dtype": "int", "shared_feat_name": "is_down_target_item_flag"},
                "is_pay_target_item_flag": {"dim": 64, "feature_count": 2, "enabled": true, "dtype": "int", "shared_feat_name": "is_pay_target_item_flag"},
                "is_use_tagert_item_flag": {"dim": 64, "feature_count": 2, "enabled": true, "dtype": "int", "shared_feat_name": "is_use_tagert_item_flag"},
                "user_match_item_profile_flag": {"dim": 64, "feature_count": 2, "enabled": true, "dtype": "int", "shared_feat_name": "user_match_item_profile_flag"},

                "age_gender_profile_list": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "age_gender_profile_list"},
                "browse_game_app_list_w2": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "click_not_down_game_app_list_w2": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "use_game_app_list_w2": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "down_game_app_list_w2": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "user_down_list_search_stype_180d": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "user_down_list_search_ttype_180d": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "down_game_list_180d": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "usage_game_list_180d": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "down_pure_app_list_180d": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "user_pay_list_360": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"},
                "use_pure_app_list_180d": {"dim": 64, "max_len": 10, "feature_count": 1414889, "enabled": true, "dtype": "multi", "shared_feat_name": "app_id"}
            },
            "history_item_feature_columns": {
                "app_id_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "app_id"},
                "app_size_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "app_size"},
                "first_grade_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "first_grade"},
                "dev_up_id_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "dev_up_id"},
                "app_second_type_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "app_second_type"},
                "app_third_type_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "app_third_type"},
                "game_type_cd_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "game_type_cd"},
                "first_time_days_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "first_time_days"},
                "ctype_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "ctype"},
                "app_cn_name_list": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "app_cn_name_list"}
            },
            "raw_item_info_column": "",
            "user_feature_columns": {
                "product_name": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "product_name"},
                "activa_durati_day": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "activa_durati_day"},
                "city": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "city"},
                "gender_age": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "gender_age"},
                "age": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "age"},
                "gender": {"dim": 64, "feature_count": 1414889, "enabled": true, "dtype": "int", "shared_feat_name": "gender"},
                "domain_type1": {"dim": 64, "feature_count": 60, "enabled": true, "dtype": "int", "shared_feat_name": "domain_type1"}
            },
            "feature_groups": {
              "candidate_dlrm": {
                "features": [
                    "app_id", "app_size", "first_grade", "dev_up_id",
                    "app_second_type", "app_third_type", "game_type_cd",
                    "first_time_days", "game_type", "ctype", "list_id",
                    "is_down_target_item_flag", "is_pay_target_item_flag",
                    "is_use_tagert_item_flag", "user_match_item_profile_flag",
                    "age_gender_profile_list", "browse_game_app_list_w2",
                    "click_not_down_game_app_list_w2", "use_game_app_list_w2",
                    "down_game_app_list_w2", "user_down_list_search_stype_180d",
                    "user_down_list_search_ttype_180d", "down_game_list_180d",
                    "usage_game_list_180d", "down_pure_app_list_180d",
                    "user_pay_list_360", "use_pure_app_list_180d"
                ]
              },
              "candidate": {
                "fusion": "concat",
                "features": [
                    "app_id", "app_size", "first_grade", "dev_up_id",
                    "app_second_type", "app_third_type", "game_type_cd",
                    "first_time_days", "game_type", "ctype", "list_id",
                    "is_down_target_item_flag", "is_pay_target_item_flag",
                    "is_use_tagert_item_flag", "user_match_item_profile_flag",
                    "age_gender_profile_list", "browse_game_app_list_w2",
                    "click_not_down_game_app_list_w2", "use_game_app_list_w2",
                    "down_game_app_list_w2", "user_down_list_search_stype_180d",
                    "user_down_list_search_ttype_180d", "down_game_list_180d",
                    "usage_game_list_180d", "down_pure_app_list_180d",
                    "user_pay_list_360", "use_pure_app_list_180d"
                ],
                "mlp": {
                  "hidden_dims": [512],
                  "act_fn": "gelu"
                },
                "gluffn": {
                  "ffn_dim_multiplier": 6
                }
              },
              "history": {
                "fusion": "gluffn",
                "history": {
                  "features": [
                    "app_id_list", "app_size_list", "first_grade_list",
                    "dev_up_id_list", "app_second_type_list", "app_third_type_list",
                    "game_type_cd_list", "first_time_days_list", "ctype_list",
                    "app_cn_name_list"
                  ]
                },
                "mlp": {
                  "hidden_dims": [512],
                  "act_fn": "gelu"
                },
                "gluffn": {
                  "ffn_dim_multiplier": 6
                }
              },
              "user": {
                "fusion": "concat",
                "features": [
                    "product_name", "activa_durati_day", "city",
                    "gender_age", "age", "gender", "domain_type1"
                ],
                "mlp": {
                  "hidden_dims": [512],
                  "act_fn": "gelu"
                },
                "gluffn": {
                  "ffn_dim_multiplier": 6
                }
              }
            },
            "metric_list": [
              { "tag": "mean" },
              { "tag": "variance" },
              { "tag": "stddev" },
              { "tag": "logloss" },
              { "tag": "pcoc" },
              { "tag": "auc" }
            ]
          }
      },
      "model_cfg": {
        "name": "MixFormerModel",
        "path": "modeling/generic/sequential/mixformer_model.py",
        "cls_name": "MixFormerModel",
        "is_customize": true,
        "hp": {
          "verbose": true,
          "num_blocks": 8,
          "use_sid": true,
          "sid_fusion_pos": "input",
          "sid_agg_type": "concat",
          "sid_D": 64,
          "sid_Ks": [256, 256, 256],
          "appid2sids_path": "/home/ma-user/work/dataset/game_gr_data_jw/sid/appid2sids.txt",
          "id_col_name": "app_id",
          "code_col_name": "code",
          "cumsum": true,
          "unique": false,
          "app_zero": true,
          "sid_decoder_in_dropout": 0.2,
          "sid_gen_loss_w": 0.1,
          "sid_gen_loss_strat": "unlikelihood",
          "unlikelihood_w": 0.5,
          "sid_decoder_as_dlrm_input": false,
          "sid_decoder_tau": 0.5
        },
        "sub_models": {
          "AttentionMaskModule": {
            "name": "AttentionMaskModule",
            "path": "modeling/generic/sequential/attn_mask_modules.py",
            "cls_name": "AttentionMaskModule",
            "is_customize": true,
            "hp": { },
            "sub_models": {
              "MTAttentionMask": {
                "name": "MTAttentionMask",
                "path": "modeling/generic/sequential/attn_mask_modules.py",
                "cls_name": "MTAttentionMask",
                "is_customize": true,
                "hp": { }
              }
            }
          },
          "EmbeddingModule": {
            "name": "LocalEmbeddingModuleWithSideInfo",
            "path": "modeling/generic/sequential/embedding_modules.py",
            "cls_name": "LocalEmbeddingModuleWithSideInfo",
            "is_customize": true,
            "hp": {}
          },
          "SRNModule": {
            "name": "SRNModule",
            "path": "modeling/generic/sequential/srn_module.py",
            "cls_name": "SRNModule",
            "is_customize": true,
            "hp": {
              "num_bins": 10,
              "embedding_size": 128,
              "sim_gate_w": 10.0,
              "sim_gate_b": 9.0,
              "sim_gate_trainable": true,
              "binning_type": "default"
            }
          },
          "InputFeaturesPreprocessorModule": {
            "name": "MixFormerFeaturePreprocessor",
            "path": "modeling/generic/sequential/input_features_preprocessors.py",
            "cls_name": "MixFormerFeaturePreprocessor",
            "is_customize": true,
            "hp": {
              "embedding_dropout_rate": 0.2
            }
          },
          "LossModule": {
            "name": "LossModule",
            "path": "modeling/generic/sequential/loss_modules.py",
            "cls_name": "LossModule",
            "is_customize": true,
            "hp": { },
            "sub_models": {
              "BinaryCrossEntropyLossForRerankScore": {
                "name": "BinaryCrossEntropyLossForRerankScore",
                "path": "modeling/generic/sequential/loss_modules.py",
                "cls_name": "BinaryCrossEntropyLossForRerankScore",
                "is_customize": true,
                "hp": { },
                "sub_models": {
                  "DefaultLossMask": {
                    "name": "DefaultLossMask",
                    "path": "modeling/generic/sequential/loss_mask_modules.py",
                    "cls_name": "DefaultLossMask",
                    "is_customize": true,
                    "hp": { }
                  }
                }
              },
              "LossAggregator": {
                "name": "SumLossAggregator",
                "path": "modeling/generic/sequential/loss_modules.py",
                "cls_name": "SumLossAggregator",
                "is_customize": true,
                "hp": { }
              }
            }
          },
          "OutputPostprocessorModule": {
            "name": "L2NormEmbeddingPostprocessor",
            "path": "modeling/generic/sequential/output_postprocessors.py",
            "cls_name": "L2NormEmbeddingPostprocessor",
            "is_customize": true,
            "hp": { }
          },
          "FeedForwardModule": {
            "name": "FeedForwardModule",
            "path": "modeling/generic/sequential/prediction_modules.py",
            "cls_name": "FeedForwardModule",
            "is_customize": true,
            "hp": { },
            "sub_models": {
              "LinearModuleForRerankScore": {
                "name": "LinearModuleForRerankScore",
                "path": "modeling/generic/sequential/prediction_modules.py",
                "cls_name": "LinearModuleForRerankScore",
                "is_customize": true,
                "hp": {
                    "input_dim": 1024, # n_c * D + n_u*D (if use_user_embedding_for_rerank = true)
                    "negative_sample_ratio": 0.2
                }
              }
            }
          },
          "SequentialModule": {
            "name": "MixFormerSequentialModule",
            "path": "modeling/generic/sequential/mixformer_sequential_module.py",
            "cls_name": "MixFormerSequentialModule",
            "is_customize": true,
            "hp": {
              "num_blocks": 8
            },
            "sub_models": {
              "MixFormerModule": {
                "name": "MixFormerModule",
                "path": "modeling/generic/sequential/mixformer.py",
                "cls_name": "MixFormerModule",
                "is_customize": true,
                "hp": {
                  "num_blocks": 8
                },
                "sub_models": {
                  "MixFormerBlock": {
                    "name": "MixFormerBlock",
                    "path": "modeling/generic/sequential/mixformer.py",
                    "cls_name": "MixFormerBlock",
                    "is_customize": true,
                    "hp": {}
                  }
                }
              }
            }
          }
        }
      }
  }
}
