
  {
  "common_hp": {
    "data_loader_conf": {
    "dataset_name": "watchface", # dataset name
    "prefetch_factor": 8,
    "num_workers": 1,
    "num_rerank": 1 # deprecated for embedding
  },
  "seed_conf": {
    "global_seed": 42
  },
  "model_conf": {
    "item_embedding_dim": 64, # model output embedding size
    "max_sequence_length": 51,
    "num_ratings": 5, # number of ratings
    "linear_dropout_rate": 0.2, # dropout rate
    "attn_dropout_rate": 0.0,
    "user_embedding_norm": "l2_norm",
    "use_fbgemm": True,
    "rab_aggregate_method": "sum", ## rab aggregation
    "linear_activation": "silu",
    "normalization": "rel_bias", ## 可选项"att_free_bias", "rel_bias"
    "linear_config": "uvqk",
    "norm_type": "layer_norm", ## 可选项"RMS", "layer_norm"
  },
  "export_conf": {
    "export_batch_size": 1,
    "export_num_batch": 1,
    "save_dir_name": "watchface",
    "export_mode": "real",
    "save_item_embs_for_files": True,
    "save_user_embs_for_files": True,
    "feature_map_item_field_name": "itemid",
    "feature_map_user_field_name": "upid",
  },
  "train_conf": {
    "lr_scaling": "Linear",
    "beta": [0.9, 0.98],
    "learning_rate": 0.001,
    "optimizer_type": "AdamW",
    "weight_decay": 0,
    "temperature": 0.05,
    "dataset_name": "watchface",
    "local_batch_size": 32,
    "eval_batch_size": 32,
    "eval_interval": 2, #number of steps to print eval metrics in between
    "num_epochs": 1, #number of epochs to train
    "num_warmup_steps": 0,
    "use_item_l2_norm": True,
    "use_tf32": True,
    "batch_limit": False, # if set to 0 or
    "is_output_loss_csv_file": False,
    "is_recall": True,
    "eval_recall": True,
    "use_user_embedding": False,
    "use_item_emb_mlp": False,
    "filter_invalid_ids": True, # filter IDs already seen by user during evaluation
    "eval_after_train": False
  },
  "feature_conf": {
      "test_hours": 24,
      "cut_off_bias": 0,
      "infer_ratings_key": "ratings",
      "infer_items_key": "sequence_item_ids",
      "infer_timestamps_key": "timestamps",
      "raw_userid_column": "user_feature_id", # user_id column name
      "raw_itemid_column": "sequence_item_ids", #sequence_item_ids column name
      "raw_ratings_column": "sequence_ratings", #ratings column name
      "raw_timestamps_column": "sequence_timestamps", #timestamp column names
      "token_per_item": 1,
      "rating_flag": 0,
      "get_count_from_featuremap": True, #当此处为True时,下方"item_feature_columns"与"user_feature_columns"中的feature_count将被忽略，其值将从feature_map中推断.
      "item_feature_columns": {
          "sequence_item_ids": {"dim": 64, "feature_count": 114944, "original_feature_name" : "itemid" , "enabled": True, "dtype": "int"}, # enabled 是否启用该特征。 dytpe int为离散特征，con为连续特征，pref为多值特征。
      },
      "user_feature_columns": {
          # "user_id": {"dim": 64, "feature_count": 100000, "enabled": True, "dtype": "int"}
      },
        "metric_list" : [
          {"tag": "mean"}
    ]
    }
  },
  "model_cfg": {
    "name": "GR_model", # 可选项("GR_model", "GRModelEp"), 若配置为GRModelEp但环境中无相关算子, fallback回GR_model。注意：GRModelEp类型时特征的dim配置不能小于8
    "hp": {
      "verbose": True
    },
    "sub_models": {
      "AttentionMaskModule": {
        "name": "AttentionMaskModule",
        "hp": {},
        "sub_models": {
          "CausalAttentionMask": {
            "name": "CausalAttentionMask",
            "hp": {
              "mask_candidates": True
            }
          },
        }
      },
      "EmbeddingModule": {
        "name": "LocalEmbeddingModuleWithSideInfo",
        "hp": {}
      },
      "InputFeaturesPreprocessorModule": {
        "name": "UserItemRatingInputFeaturePreprocessor",
        "hp": {
        }
      },
      "LossModule": {
        "name": "LossModule",
        "hp": {},
        "sub_models": {
          "SampledSoftmaxLossForNextItemPred": {
            "name": "SampledSoftmaxLossForNextItemPred",
            "hp": {},
            "sub_models": {
              "DefaultLossMask": {
                "name": "DefaultLossMask",
                "hp": {}
              }
            }
          },
          "LossAggregator": {
            "name": "SumLossAggregator",
            "hp": {}
          }
        }
      },
      "OutputPostprocessorModule": {
        "name": "L2NormEmbeddingPostprocessor",
        "hp": {}
      },
      "FeedForwardModule": {
        "name": "FeedForwardModule",
        "hp": {},
        "sub_models": {}
      },
      "NegativesSampler": {
        "name": "LocalNegativesSampler",
        "hp" : {
            "l2_norm": True,
            "l2_norm_eps": 0.000001,
            "num_to_sample": 512,
        }
      },
      "SequentialModule": {
        "name": "SequentialModule",
        "hp": {
          "num_blocks": 16
        },
        "sub_models": {
          "Transformer": {
              "name": "HSTU",
              "hp": {
                "dv": 32,
                "dqk": 32,
                "num_heads": 8,
                "linear_config": "uvqk",
                "linear_activation": "silu",
                "qk_attn_denominator": "emb_dim",
                "ffn_expand" : 1
              },
              "sub_models": {
                  "RABModule": {
                    "name": "RABModule",
                    "hp": {
                    "rab_aggregate_method": "sum", ## 可选项"concat", "sum"
                    },
                    "sub_models": {
                      "RelativeTimeEncoder": {
                          "name": "BucketRelativeTimeEncoderRecall",
                          "hp": {
                              "num_buckets": 32,
                              "bucketization_divisor": 0.301,
                              "use_next_timestamp": True
                          }
                        },
                      "RelativePositionEncoder": {
                          "name": "DefaultRelativePositionEncoderRecall",
                          "hp": {}
                      }
                    }
                  }
              }
            }
          }
        }
      }
  }
}
